extends layout

block content
  img.logo(src="/images/common-hardware-logo.png")
  a(href="/") About
  a(href="/library") Library
  a(href="https://discuss.commonhardware.com") Discuss
  a(href="/slack") Slack
