doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,700,700italic,600,200')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      nav.navbar
        a(href="/")
          img.logo(src="/images/common-hardware-logo.png")
        ul.nav.navbar-nav.pull-right
          li.nav-item
            a.nav-link(href="/") About
          li.nav-item
            a.nav-link(href="/library") Library
          li.nav-item
            a.nav-link(href="https://discuss.commonhardware.com") Discuss
          li.nav-item
            a.nav-link(href="/slack") Slack
      block content
  script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(type='text/javascript', src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js")
