extends layout

block content
  p This library is empty.&nbsp;
    em For now.
  p If you're interested in contributing to our hardware library, please contact <a href="mailto:zsupalla@gmail.com">Zach Supalla</a> or join our <a href="/slack">Slack channel</a>.
