body {
  font: 14px "Source Sans Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.logo {
  height: 60px;
}

nav {
  margin-top: 50px;
}

nav.navbar {
  height: 60px;
  padding: 0;
  margin-bottom: 60px;
}

nav.navbar a {
  font-size: 16px;
  line-height: 20px;
  color: #999;
  font-weight: 600;
}

nav.navbar a:hover {
  color: #333;
}

.navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 2rem;
}

p, ul, li {
  font-size: 1.05rem;
  line-height: 1.8rem;
}

ul {
  padding-left: 1.2rem;
}

h4 {
  font-weight: 200;
  margin-top: 3rem;
  color: #333;
}

footer {
  margin-top: 160px;
  margin-bottom: 160px;
}
